---
import HeroB from '/images/hero-bottom.avif'
import JobB from '/images/job1.avif'
import Image1 from '/images/img-1.avif'
import Image2 from '/images/jobSeek.avif'
import HomeCard from '../components/HomeCard.astro'
import Twitter from '/images/twitter.png'
import Instagram from '/images/Instagram.png'
import Facebook from '/images/facebook1.png'
import Twitch from '/images/twitch1.png'
import Event from '/images/event.avif'
---

<main class="p-5">
    <p class="text-sm text-center lg:hidden visible">Due to issue in js file you can access news, jobs and events through footer in mobile view.</p>
    <section class="hero lg:p-48 py-20 text-center gap-10">
        <h1 class="text-5xl mb-5">Unleash your thoughts.</h1>
        <p class="text-xl">Welcome to Blog Node, where we explore the fascinating, the wild and the downright quirky world of the latest news, job oppurtunities and events get ready for an engaging and eye-opening experiences.</p>
    </section>
    <section class="md:py-12 py-5 md:flex flex-col md:flex-row gap-20">
        <div class="left-hero md:w-1/2">
            <img src={HeroB} alt="" class="rounded-lg w-auto">
            <div class="">
                <h1 class="md:mt-5 text-3xl">Discover your passion</h1>
                <p class="mt-5">Blog Node offers stories from various sectors, ensuring you never miss a beat. Get the scoop on the latest news, new job prospects and stay informed about upcoming events.</p>
            </div>
        </div>
        <div class="right-hero md:mt-0 mt-5 md:w-1/2">
            <div class="">
                <h1 class="md:mt-0 text-3xl">Upgraded Segments: Deep Dive into the world of Blog Node</h1>
                <p class="mb-5">Our platform is designed to create a content-rich experience. Find your niche and mingle with like-minded Blog Node readers and contributors.</p>
            </div>
            <img src={JobB} alt="" class="rounded-lg w-auto">
        </div>
    </section>
    <div class="flex flex-col md:flex-row gap-20">
        <HomeCard 
        title="Breaking News" 
        content="Stay informed with the hottest news from around the globe, updating constantly for your reading pleasure."
        img={Image1}/>
        <HomeCard 
        title="Job Seekers" 
        content="Explore exciting job openings and find the perfect opportunity that aligns with your career goals and passions."
        img={Image2}/>
    </div>
    <section class="event py-24 flex md:flex-row flex-col gap-20">
        <div class="left-eve md:w-1/2">
            <h1 class="py-3 text-5xl">Events</h1>
            <p class="md:w-2/3">Never miss out on top-notch events, workshops, and webinars that fuel your creativity and expand your horizons. Grab your spot today and connect with your community!</p>
            <ul class="mt-5 flex gap-5">
                <li>
                    <img src={Twitter} alt="" class="w-6">
                </li>
                <li>
                    <img src={Instagram} alt="" class="w-6">
                </li>
                <li>
                    <img src={Facebook} alt="" class="w-6">
                </li>
                <li>
                    <img src={Twitch} alt="" class="w-6">
                </li>
            </ul>
        </div>
        <div class="right-eve mt-5 md:mt-0">
                <img src={Event} alt="" class="rounded-md">
        </div>
    </section>
    <section class="my-10">
        <h1 class="my-10 text-center md:text-4xl text-3xl">Got Questions we have got answers</h1>
        <div class="card-grid grid md:grid-cols-2 grid-rows-1 gap-10">
            <div class="item-1">
                <h1 class="font-bold text-xl">
                    How often is Blog Node Updated ?
                </h1>
                <p>
                    We’re constantly on the lookout for fresh content, updating our platform daily with the latest news, job opportunities, and events.
                </p>
            </div>
            <div class="item-2">
                <h1 class="font-bold text-xl">
                    Can I contribute to Blog Node ?
                </h1>
                <p>
                    Absolutely! We're always thrilled to welcome new voices to our community. Just get in touch and let's create awe-inspiring content together.
                </p>
            </div>
            <div class="item-3">
                <h1 class="font-bold text-xl">
                    Do I need an account to access Blog Node?
                </h1>
                <p>
                    You can enjoy Blog Node for free, but we strongly recommend creating an account to unlock exciting features and stay updated.
                </p>
            </div>
            <div class="item-4">
                <h1 class="font-bold text-xl">
                    What makes Blog Node stand out?
                </h1>
                <p>
                    Blog Node is not your ordinary blog platform. We curate exciting, entertaining content that sparks your curiosity and empowers you to be an active, well-informed participant in the world around you.
                </p>
            </div>
        </div>
    </section>
</main>