---
const {Image, Head, Place, Category, Price, Link} = Astro.props
---

<div class="eve-card bg-[#181818] rounded-md hover:shadow-slate-800 hover:shadow-lg hover:scale-105 transition-transform">
    <div class="">
        <img src={Image} alt="" class="rounded-t-md" >
    </div>
    <div class="desc p-2 space-y-1">
        <h1 class="text-xl font-semibold">{Head}</h1>
        <div class="p-txt font-medium">
            <p>{Place}</p>
            <p>{Category}</p>
            <p>{Price}</p>
        </div>
        <button class="py-1 px-2 border hover:border-gray-400 hover:font-semibold rounded-sm text-white">
            <a href={Link}>
                View
            </a>
        </button>
    </div>
</div>