---
const {Logo, Name, Rating,Review, Bio} = Astor.props;
---

<div class="job-card rounded-md shadow-md">
    <img src={Logo} alt="">
    <h1>{Name}</h1>
    <p>{Rating}|{Review}</p>
    <p>{Bio}</p>
    <button class="p-2 border">View Jobs</button>
</div>