---
const {Logo, Name, Rating,Review, Bio,Link} = Astro.props;
import Star from '/images/Star.png'
---

<div class="job-card bg-[#181818] rounded-md hover:shadow-slate-800 shadow-md space-y-1 p-3 hover:shadow-md hover:scale-105 transition-transform lg:mx-0 mx-32">
    <img src={Logo} alt="" class="border mx-auto rounded-md">
    <h1 class="text-lg font-semibold">{Name}</h1>
    <div class="p-txt p-1 flex flex-col items-center m-10 rounded-md text-sm">
        <p class="flex items-center gap-1 font-medium">
            <img src={Star} alt="" class="w-3">
            {Rating}
            <span class="my-1 border-l-2  border-gray-400 px-1">{Review}</span>
        </p>
        <p class="">{Bio}</p>
    </div>
    <button class="mt-5 py-1 px-2 border border-gray-500 rounded-sm hover:border-gray-200 text-white">
        <a href={Link}>
            View Jobs
        </a>
    </button>
</div>