---
// import Dev from '/images/dev.jpg'
const {Heading, Para, Image, Link, count, time} = Astro.props
import Like from '/images/heart.png'
---

<div class="w-auto rounded-md text-center shadow-lg">
    <img src={Image} width={400} alt="" class="rounded-t-md">
    <h1 class="p-3 text-left text-lg font-semibold">{Heading}</h1>
    <p class="p-3 text-justify text-sm">{Para} <span class="text-blue-500 font-semibold">
        <a href={Link}>
            Read More
        </a>
    </span></p>
    <div class="p-3 flex justify-between items-center">
        <div class="like p-2 flex border text-sm gap-1 rounded-md">
            <button class="num">
                <img src={Like} alt="" class="w-5">
            </button>
            <span class="">{count}</span>
        </div>
        <p class="text-sm font-semibold">{time} min read</p>
    </div>
</div>

<!-- <script>
    document.getElementsByClassName('num').addEventListener("click", like);

function like() {
  alert ("Hello World!");
}
</script> -->